body{
    font-family: "Public Sans", sans-serif;
}
#hero{
    background-image: url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -20;
    position: relative;
}
.logo{
    fill: white;
    background-color: white;
    background-size: contain;
}
@media  (min-width: 769px) {
    #hero{
        background-image: url(../images/bg-intro-desktop.svg);
        background-position: 500px -250px;
    }
}